@mixin amr-header {
  #header {
    display: block;
    width: 100%;
    height: 100%;

    & .nav-bar{
      font-size: 12px;
      background: $dark-white;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      padding: 7px 25px;
      
      & div{ 

        &:nth-child(1){
          width: 120px;
          margin: inherit;
        }
  
        &:nth-child(2){
          width: 302px;
          margin: auto;
        }  

        &:nth-child(3){
          width: 198px;
        }        

        & p{

        }

        & ul{
        
          & li{
            display: inline-flex;
            vertical-align: middle;

            & p{

            }

            & i{
              padding: 0px 7px 0px 20px;
            }

            & img{

            }

            & img.separador{
              width: 3px;
              height: 3px;
              padding: 0px 10px;
            }
          }
        }
      }
    }

    // & .nav-menu{
    //   font-size: 12px;
    //   background: $dark-white;
    //   width: 100%;
    //   display: flex;
    //   box-sizing: border-box;
    //   padding: 7px 25px;
      
    //   & div{ 

    //     &:nth-child(1){
    //       width: 120px;
    //       margin: inherit;
    //     }
  
    //     &:nth-child(2){
    //       width: 302px;
    //       margin: auto;
    //     }  

    //     &:nth-child(3){
    //       width: 198px;
    //     }        

    //     & p{

    //     }

    //     & ul{
        
    //       & li{
    //         display: inline-flex;
    //         vertical-align: middle;

    //         & p{

    //         }

    //         & i{
    //           padding: 0px 7px 0px 20px;
    //         }

    //         & img{

    //         }

    //         & img.separador{
    //           width: 3px;
    //           padding: 0px 10px;
    //         }
    //       }
    //     }
    //   }
    // }   

    & .content-center-home{
      background-image: url('../images/trench-coat-london-breeze-main.jpg');
      background-position: center top;
      background-size: cover; 
      display: block;
      width: 100%;

      & div{

        & h1{
          text-transform: uppercase;
          font-size: 63px;
          font-family: gotham-medium;
          line-height: 86px;
          margin: auto;
          width: 992px;
          font-weight: bold;
          text-align: center;
          letter-spacing: 40px;
        }
      }
    } 
  }
}
