@mixin amr-classico-casual{
	#classico-casual{
		width: 100%;
		display: block;
		position: relative;

		& .content{
			display: block;
			width: 90%;
			margin: auto;
			box-sizing: border-box;
			padding: 150px 0px 220px 0px;

			& .left{
				width: 50%;
				float: left;

				& .pratico{ 
				    width: 85%;
				    margin: auto;
				    text-align: center;
				    padding: 80px 0px 80px 0px;

					& h2{
					text-transform: uppercase;
					font-family: gotham-medium;
					font-size: 4vw;
				    letter-spacing: 10px;
				    font-weight: bold;
				    }

				    & p{
				    	font-size: 1vw;
				    	font-weight: bold;
    					padding: 30px 0px 30px 0px;
				    }

				    & a{
				    	background: $dark-grey;
				    	color: $white;
						padding: 16px;
						font-size: 1vw;
						border: 1px $dark-grey solid;
						display: inline-block;	
						transition: .2s all;

						&:hover{
							transition: .2s all;
					    	background: $white;
					    	color: $dark-grey;
						}			    	
				    }
				}

				& .text{
					position: absolute;
					left: -25px;
					top: 32%;

					h2{
					    font-weight: bold;
					    text-transform: uppercase;
					    font-size: 9.5vw;
					    font-family: gotham-medium;
					    letter-spacing: 60px;
					}
				}					

				& .imagem{
					text-align: center;
					width: 75%;
					margin: auto;

					& img{
					    width: 100%;
					    margin: auto;
					    display: block;
					    padding-bottom: 50px;
					}

					& a{
				    	background: $dark-grey;
				    	color: $white;
						padding: 16px;
						font-size: 1vw;
						border: 1px $dark-grey solid;
						display: inline-block;	
						transition: .2s all;

						&:hover{
							transition: .2s all;
					    	background: $white;
					    	color: $dark-grey;
						}					
					}
				}
			}

			& .right{
				width: 50%;
				float: right;

				& .imagem{
					text-align: center;
					width: 85%;
					float: right;

					& img{
					    width: 100%;
					    margin: auto;
					    display: block;
					    padding-bottom: 50px;
					}
				}

				& .text{

					h2{
					    font-weight: bold;
					    text-transform: uppercase;
					    font-size: 8.5vw;
					    font-family: gotham-medium;
					    letter-spacing: 15px;
					}
				}								
			}
		}
	}
}