/**
 * Theme colors
 */
/**
 * Breakpoints
 */
/**
 * Awesome styles
 */
@font-face {
  font-family: "gotham-book";
  src: url(../fonts/gotham-book.eot);
  src: url(../fonts/gotham-book.eot?#iefix) format("embedded-opentype"), url(../fonts/gotham-book.woff2) format("woff2"), url(../fonts/gotham-book.woff) format("woff"), url(../fonts/gotham-book.ttf) format("truetype"), url(../fonts/gotham-book.svg#svggotham-book) format("svg"); }

@font-face {
  font-family: "gotham-medium";
  src: url(../fonts/gotham-medium.eot);
  src: url(../fonts/gotham-medium.eot?#iefix) format("embedded-opentype"), url(../fonts/gotham-medium.woff2) format("woff2"), url(../fonts/gotham-medium.woff) format("woff"), url(../fonts/gotham-medium.ttf) format("truetype"), url(../fonts/gotham-medium.svg#svggotham-medium) format("svg"); }

/** CSS reset to reduce browser inconsistencies in things
   * like default line heights, margins and font sizes of
    * headings, and so on
   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

div:before, div:after {
  content: "";
  display: table; }

div:after {
  clear: both; }

body {
  font-family: gotham-book; }

a {
  text-decoration: none;
  color: #000000; }

li {
  list-style: none; }

#header {
  display: block;
  width: 100%;
  height: 100%; }
  #header .content-center-home {
    background-image: url("../images/trench-coat-london-breeze-main.jpg");
    background-position: center top;
    background-size: cover;
    display: block;
    width: 100%; }
    #header .content-center-home div h1 {
      text-transform: uppercase;
      font-size: 7vw;
      font-family: gotham-medium;
      text-align: center;
      font-weight: bold;
      display: block;
      line-height: 1;
      letter-spacing: 30px; }
      @media screen and (max-width: 991px) {
        #header .content-center-home div h1 {
          font-size: 50px;
          padding: 35px 0px;
          line-height: 2;
          letter-spacing: 6px; } }

#classico-casual {
  width: 100%;
  display: block;
  position: relative; }
  #classico-casual .content {
    display: block;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding: 150px 0px 220px 0px; }
    @media screen and (max-width: 991px) {
      #classico-casual .content {
        padding: 75px 0px 220px 0px;
        width: 98%; } }
    #classico-casual .content .left {
      width: 50%;
      float: left; }
      @media screen and (max-width: 991px) {
        #classico-casual .content .left {
          width: 100%; } }
      #classico-casual .content .left .pratico {
        width: 85%;
        margin: auto;
        text-align: center;
        padding: 80px 0px 80px 0px; }
        @media screen and (max-width: 991px) {
          #classico-casual .content .left .pratico {
            width: 85%;
            margin: auto;
            text-align: center;
            padding: 0px 0px 50px 0px; } }
        #classico-casual .content .left .pratico h2 {
          text-transform: uppercase;
          font-family: gotham-medium;
          font-size: 4vw;
          letter-spacing: 10px;
          font-weight: bold; }
          @media screen and (max-width: 991px) {
            #classico-casual .content .left .pratico h2 {
              font-size: 35px; } }
        #classico-casual .content .left .pratico p {
          font-size: 1vw;
          font-weight: bold;
          padding: 30px 0px 30px 0px; }
          @media screen and (max-width: 991px) {
            #classico-casual .content .left .pratico p {
              font-size: 15px;
              padding: 25px 0px 20px 0px; } }
        #classico-casual .content .left .pratico a {
          background: #333333;
          color: #ffffff;
          padding: 16px;
          font-size: 1vw;
          border: 1px #333333 solid;
          display: inline-block;
          transition: .2s all; }
          #classico-casual .content .left .pratico a:hover {
            transition: .2s all;
            background: #ffffff;
            color: #333333; }
          @media screen and (max-width: 991px) {
            #classico-casual .content .left .pratico a {
              padding: 15px 50px;
              font-size: 16px; } }
      #classico-casual .content .left .text {
        display: flex;
        margin-bottom: -7%;
        z-index: 99999999; }
        #classico-casual .content .left .text h2 {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 9.5vw;
          font-family: gotham-medium;
          letter-spacing: 60px;
          z-index: 99999999; }
          @media screen and (max-width: 991px) {
            #classico-casual .content .left .text h2 {
              font-size: 15vw;
              letter-spacing: inherit; } }
      #classico-casual .content .left .imagem {
        text-align: center;
        width: 75%;
        margin: auto; }
        @media screen and (max-width: 991px) {
          #classico-casual .content .left .imagem {
            width: 100%; } }
        #classico-casual .content .left .imagem img {
          width: 100%;
          margin: auto;
          display: block;
          padding-bottom: 50px; }
          @media screen and (max-width: 991px) {
            #classico-casual .content .left .imagem img {
              padding-bottom: 35px; } }
        #classico-casual .content .left .imagem a {
          background: #333333;
          color: #ffffff;
          padding: 16px;
          font-size: 1vw;
          border: 1px #333333 solid;
          display: inline-block;
          transition: .2s all; }
          @media screen and (max-width: 991px) {
            #classico-casual .content .left .imagem a {
              padding: 15px 50px;
              font-size: 16px; } }
          #classico-casual .content .left .imagem a:hover {
            transition: .2s all;
            background: #ffffff;
            color: #333333; }
    #classico-casual .content .right {
      width: 50%;
      float: right; }
      @media screen and (max-width: 991px) {
        #classico-casual .content .right {
          width: 100%;
          text-align: right; } }
      #classico-casual .content .right .imagem {
        text-align: center;
        width: 85%;
        float: right; }
        @media screen and (max-width: 991px) {
          #classico-casual .content .right .imagem {
            width: 100%;
            float: none;
            padding-top: 35px; } }
        #classico-casual .content .right .imagem img {
          width: 100%;
          margin: auto;
          display: block;
          padding-bottom: 50px; }
          @media screen and (max-width: 991px) {
            #classico-casual .content .right .imagem img {
              padding-bottom: 0px; } }
      #classico-casual .content .right .text h2 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 8.5vw;
        font-family: gotham-medium;
        letter-spacing: 15px; }
        @media screen and (max-width: 991px) {
          #classico-casual .content .right .text h2 {
            font-size: 15vw;
            letter-spacing: inherit;
            margin-top: -11%; } }

#casaco-preto {
  width: 100%;
  display: block;
  background: #2a2a2a;
  position: relative;
  z-index: 0; }
  #casaco-preto .content {
    height: 780px;
    z-index: 0; }
    #casaco-preto .content .image {
      position: absolute;
      top: -140px;
      left: 10%;
      z-index: -1; }
      #casaco-preto .content .image img {
        width: 685px; }
    #casaco-preto .content .text-preto {
      text-align: center;
      margin: auto;
      margin-top: 265px;
      z-index: 99999;
      display: block; }
      #casaco-preto .content .text-preto h2 {
        text-transform: uppercase;
        font-family: gotham-medium;
        font-size: 4vw;
        color: #ffffff;
        letter-spacing: 10px;
        font-weight: bold; }
      #casaco-preto .content .text-preto p {
        font-size: 1.2vw;
        color: #ffffff;
        font-family: gotham-book;
        padding: 30px 0px 30px 0px; }
      #casaco-preto .content .text-preto a {
        border: 1px white solid;
        color: #ffffff;
        padding: 16px;
        font-size: 1vw;
        display: inline-block;
        transition: .2s all; }
        #casaco-preto .content .text-preto a:hover {
          transition: .2s all;
          background: #ffffff;
          color: #333333; }

#casaco-vinho {
  width: 100%;
  display: block;
  background-image: url("../images/trench-coat-london-breeze-red.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #casaco-vinho .content {
    height: 780px; }
    #casaco-vinho .content .text-vinho {
      text-align: center;
      margin: auto;
      margin-top: 295px;
      display: block; }
      #casaco-vinho .content .text-vinho h2 {
        text-transform: uppercase;
        font-family: gotham-medium;
        font-size: 4vw;
        color: #ffffff;
        letter-spacing: 10px;
        font-weight: bold; }
      #casaco-vinho .content .text-vinho p {
        font-size: 1.2vw;
        color: #ffffff;
        font-family: gotham-book;
        padding: 30px 0px 30px 0px; }
      #casaco-vinho .content .text-vinho a {
        border: 1px white solid;
        color: #ffffff;
        padding: 16px;
        font-size: 1vw;
        display: inline-block;
        transition: .2s all; }
        #casaco-vinho .content .text-vinho a:hover {
          transition: .2s all;
          background: #ffffff;
          color: #333333; }
