//Get all mixins
@import './mixins/main';

/**
 * Theme colors
 */
$white: #ffffff;
$dark-white: #eeeeee;
$dark-grey: #333333;
$light-black: #2a2a2a;
$black: #000000;


/**
 * Breakpoints
 */

$xsmall: 460;
$small: 768;
$medium: 991;
$large: 1200;
$xlarge: 1400;

/**
 * Awesome styles
 */

@include amr-fonts;

@include amr-general-style;

@include amr-header;

@include amr-classico-casual;

@include amr-casaco-preto;

@include amr-casaco-vinho;

@include amr-footer;